<?xml version="1.0" encoding="UTF-8"?>
<!-- Hibernate DTD -easiest way to get overview of all elements -->
<!DOCTYPE hibernate-configuration PUBLIC 
  "-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
  "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<property name="hibernate.connection.autocommit">false</property>
		<property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hibernate</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">sairam</property>
		<property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>
		<property name="hibernate.hbm2ddl.auto">create</property>
		<!-- update:only one time table is created if not present otherwise not 
			created if present -->
		<property name="hibernate.show_sql">true</property>
		<!-- show_sql will show which SQL query fired by hibernate -->
		<property name="hibernate.format_sql">true</property>
		<!-- format_sql:will show fired query in well format manner -->
		<property name="hibernate.current_session_context_class">thread</property>


		<property name="hibernate.connection.pool_size">10</property>



		<!-- -Mapping of Entity class -->
		<mapping class="pojos.Employee" />
		<mapping class="pojos.Designation" />
		<mapping class="pojos.Project" />
		<mapping class="pojos.Location" />
	</session-factory>

</hibernate-configuration>